.content {
    max-width: 500px;
    margin: 0 auto;
  }

body{
    font-family: sans-serif;
    background-color: #01A672;
}

table[name=choose_action]{
  text-align: center;
  font-size: 2.5em;
}

.arrow-image:hover{
  background-color: white;
  /*rest of styles not related to on hover state change*/
}
.arrow-image:active{
  background-color: yellow;
  /*rest of styles not related to on hover state change*/
}
