{% extends 'base.html' %}

{% block head %}
<title>Access Log: Admin Mode</title>
{% endblock %}

{% block body %}

<div class="content">

    <h1>Access Log</h1>

    <h2>Admin Mode</h2>

    <h3>Export Access Log</h3>

    
       <a href="{{ url_for('download_data') }}">Download data</a>



    <!-- DEV: DISPLAY ALL RECORDS -->
    <h2>Recorded logs</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Token</th>
            <th>Name</th>
            <th>Affiliation</th>
            <th>Action</th>
            
        </tr>
        <!-- Load registered records from DB -->
        {% for record in data %} 
            <tr>
                <!-- Print ID, Token ID, datetime -->
                <td>{{ record.id }}</td>
                <td>{{ record.datetime.replace(microsecond=0) }}</td>
                <td>{{ record.token }}</td>
                <td>{{ record.name}}</td>
                <td>{{ record.affiliation }}</td>
                <td>{{ record.action }}</td>                
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}