{% extends 'base.html' %}

{% block head %}
<style>
    body {background-color: #00937F;}
   </style>
   
<title>Access Log: Admin Mode</title>
{% endblock %}

{% block body %}

<div class="content">

    <h1>Austragen <span>· Log out</span></h1>   
    
    <hr />

    <div class="deutsch">
        Bitte halten Sie Ihren Dongle an das Lesegerät, um sich auszutragen.
    </div>

    <div class="english">
        Please swipe your dongle to log out.
    </div>

    <form id="admin_logout_form" name="admin_logout_form" action="{{ url_for('admin_logout_form') }}" method="POST" autocomplete="off">
        
        <input type="hidden" name="action" value="log-out">
        <input type="hidden" name="name" value="NA">
        <input type="hidden" name="affiliation" value="NA">
        <input type="hidden" name="work_inspection" value="NA">
        <input type="hidden" name="nr_people" value="NA">
        <input type="hidden" name="work_maintenance" value="NA">
        <input type="hidden" name="work_equipment" value="NA">
        <input type="hidden" name="work_sampling" value="NA">
        <input type="hidden" name="work_measurements" value="NA">
        <input type="hidden" name="work_drone" value="NA">
        <input type="hidden" name="work_tour" value="NA">
        <input type="hidden" name="work_other" value="NA">
        <input type="hidden" name="work_other_text" value="NA">
        <input type="text" name="token" id="token" autofocus="autofocus" onkeypress="javascript:token.focus();" onKeyUp="javascript:token.focus();" OnBlur="javascript:token.focus();" OnChange="javascript:token.focus();" />
    
    </form>    
    
    <hr />

    <br />
    <br />
    <br />
    <br />

    <!-- return home button -->
    <a href="{{ url_for('index') }}" class="home-button" id="home-button">Abbrechen<br /><i>Cancel</i> </a>

</div>

<!-- JS for automatic redirect -->
<script>    
    window.setTimeout(function(){

    window.location.href = "/";

    }, 10000);

</script>

{% endblock %}