{% extends 'base.html' %}

{% block head %}
<style>
    body {background-color: #9CC666;}
   </style>
    <title>Eintragung erfolgreich · Log in successful</title>
{% endblock %}

{% block body %}

    <div class="content">
        
        <h1>Eintragung erfolgreich <span>· Log in successful</span></h1>
        <hr />

        <div class="deutsch">
            Der Code für den Schlüsselkasten lautet:
        </div>

        <div class="english">
            The code for the key box is:
        </div>
        
        <br />

        <div class="pincode">
            {{ pincode }}
        </div> 
        
        <br />

        <!-- retuen home button -->
        <a href="{{ url_for('index') }}" class="home-button">Zurück<br /><i>Back</i> </a>  

    </div>

    <!-- JS for automatic redirect after wrong token entry -->
    <script>    
        window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "/";

        }, 10000);

    </script>

{% endblock %}