{% extends 'base.html' %}

{% block head %}
    <title>Eintragung erfolgreich / Log in successful</title>
{% endblock %}

{% block body %}

    <div class="content">

        <div class="success_deutsch">
            Der Code für den Schlüsselkasten lautet:
        </div>
        
        <br />

        <div class="success_english">
            The code for the key box is:
        </div>
        
        <br />

        <div class="code">
            2 4 0 7
        </div>    

    </div>

    <!-- JS for automatic redirect after wrong token entry -->
    <script>    
        window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "/";

        }, 10000);

    </script>

{% endblock %}