<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/js/form-paginator.js"></script>

    <style>
        body {
            background-color: {{ hex }};
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body onload="javascript:hide();">

       
    {% block body %}{% endblock %}

    <script language="javascript" type="text/javascript">
        <!--
         function hide() {
                document.getElementById('token_').style.position = 'absolute';
                document.getElementById('token_').style.left = '-9999em';
            }
         function show() {
                document.getElementById('token_').style.position = 'absolute';
                document.getElementById('token_').style.left = '10em';
            }
        geta.focus();
        // -->
        </script>

</body>
</html>