{% extends 'base.html' %}

{% block head %}
<title>Austragung erfolgreich / Log off successful</title>
{% endblock %}

{% block body %}

    <div class="content">

        <h1>Austragung erfolgreich <br />Log off successful</h1>
        <hr />

        <div class="success_deutsch">
            Danke! <br />Bitte legen Sie den Dongle wieder zurück.
        </div>
        
        <br />

        <div class="success_english">
            Thank you! <br />Please return the dongle.
        </div>  

        <br />
        <hr />
        <!-- retuen home button -->
        <a href="{{ url_for('index') }}" class="home-button">Zurück<br /><i>Back</i> </a>

    </div>

    <!-- JS for automatic redirect after wrong token entry -->
    <script>    
        window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "/";

        }, 3000);

    </script>

{% endblock %}