{% extends 'base.html' %}

{% block head %}
<title>Austragung erfolgreich / Log off successful</title>
{% endblock %}

{% block body %}

    <div class="content">

        <div class="success_deutsch">
            Danke! <br />Bitte legen Sie den Dongle wieder zurück.
        </div>
        
        <br />

        <div class="success_english">
            Thank you! <br />Please return the dongle.
        </div>  

    </div>

    <!-- JS for automatic redirect after wrong token entry -->
    <script>    
        window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "/";

        }, 3000);

    </script>

{% endblock %}