{% extends 'base.html' %}

{% block head %}
<title>Austragen · Log Out</title>
{% endblock %}

{% block body %}
<div class="content">

    <h1>Austragen <span>· Log out</span></h1>   
    
    <hr />

    <div class="deutsch">
        Bitte halten Sie Ihren Dongle an das Lesegerät, um sich auszutragen.
    </div>

    <div class="english">
        Please swipe your dongle to log out.
    </div>

    <form id="descend_form" name="descend_form" action="{{ url_for('descend_form') }}" method="POST" autocomplete="off">
        
        <input type="hidden" name="action" value="descend">
        <input type="hidden" name="name" value="NA">
        <input type="hidden" name="affiliation" value="NA">
        <input type="text" name="token" id="token" autofocus="autofocus" onkeypress="javascript:token.focus();" onKeyUp="javascript:token.focus();" OnBlur="javascript:token.focus();" OnChange="javascript:token.focus();" />
    
    </form>    
    
    <hr />

    <br />
    <br />
    <br />
    <br />

    <!-- retuen home button -->
    <a href="{{ url_for('index') }}" class="home-button" id="home-button">Abbrechen<br /><i>Cancel</i> </a>

</div>

<!-- JS for automatic redirect after two minutes -->
<script>    
    window.setTimeout(function(){

    // Move to a new location or you can do something else
    window.location.href = "/";

    }, 120000);

</script>
{% endblock %}