{% extends 'base.html' %}

{% block head %}
<title>Greenroof Access Log</title>
{% endblock %}

{% block body %}
<div class="content">

    <h1>Swipe a token!</h1>

    <form action="/" method="POST" autocomplete="off">
        <input type="text" name="token_id" id="token_id" autofocus="autofocus" onkeypress="javascript:token_id.focus();" onKeyUp="javascript:token_id.focus();" OnBlur="javascript:token_id.focus();" OnChange="javascript:token_id.focus();" />
    </form>


    <h2>The lastest registered tokens</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Token</th>
            <th>Name</th>
            <th>Affiliation</th>
            <th>Time</th>
        </tr>
        <!-- Load registered swipes from DB -->
        {% for swipe in swipes %} 
            <!-- Limit output to last 10 -->
            {% if loop.index <= 10 %}
            <tr>
                <!-- Print ID, Token ID, datetime -->
                <td>{{ swipe.id }}</td>
                <td>{{ swipe.token_id }}</td>
                <td>{{ swipe.name }}</td>
                <td>{{ swipe.affiliations }}</td>
                <td>{{ swipe.datetime_scanned.replace(microsecond=0) }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <!-- Control buttons to show/hide input field
    
        <button onClick="javascript:hide();">Hide Input Field</button> 
    // -->

</div>
{% endblock %}