{% extends 'base.html' %}

{% block head %}
<title>Access Log</title>
{% endblock %}

{% block body %}
<div class="content">

    <form action="/" method="POST" autocomplete="off">

        <!-- choose action -->
        <input type="radio" id="action_ascend" name="action" value="ascend">
        <label for="action_ascend">Ascend to roof</label><br>
        <input type="radio" id="action_descend" name="action" value="descend">
        <label for="action_descend">Descend from roof</label><br>
        
        <!-- scan token -->
        <input type="text" name="token" id="token" autofocus="autofocus" 
            onkeypress="javascript:token.focus();" 
            onKeyUp="javascript:token.focus();" 
            OnBlur="javascript:token.focus();" 
            OnChange="javascript:token.focus();" />
    
    </form>


    

</div>
{% endblock %}