{% extends 'base.html' %}

{% block head %}
<style>
    body {background-color: #ff0f0f;}
   </style>
<title>Access Log: Invalid Token</title>
{% endblock %}

{% block body %}

<div class="content">

    <h1>ERROR</h1>

    {% if error %}
        <p class=error>
            <strong>Invalid token:</strong> <br />
            {{ error }}
        </p>
    {% endif %}   

</div>

<!-- JS for automatic redirect after wrong token entry -->
<script>    
    window.setTimeout(function(){

      // Move to a new location or you can do something else
      window.location.href = "/";

      }, 2000);

</script>

{% endblock %}