{% extends 'base.html' %}

{% block head %}
<style>
    body {background-color: #C6669C;}
   </style>
<title>Ungültiger Dongle · Invalid dongle</title>
{% endblock %}

{% block body %}

<div class="content">

    <h1>FEHLER <span>· ERROR</span></h1>

    {% if error %}

    <div class="deutsch">
        <p class=error>
            <strong>Invalid token:</strong> <br />
            {{ errorDE }}
        </p>
    </div>

    <div class="english">
        <p class=error>
            <strong>Invalid token:</strong> <br />
            {{ errorEN }}
        </p>
    </div>

    {% endif %}   

</div>

<!-- JS for automatic redirect after wrong token entry -->
<script>    
    window.setTimeout(function(){

      // Move to a new location or you can do something else
      window.location.href = "/";

      }, 4000);

</script>

{% endblock %}