{% extends 'base.html' %}

{% block head %}
<title>Eintragen · Log In</title>
{% endblock %}

{% block body %}
<div class="content">
    
    <h1>Eintragen <span>· Log in</span></h1>   
    
    <hr />

    <div class="deutsch">
        Bitte registrieren Sie sich für Ihren Besuch des Forschungsgründachs.
    </div>

    <div class="english">
        Please register your visit to the research green roof.
    </div>

    <hr />

    <form id="login_form" name="login_form" action="{{ url_for('login_form') }}" method="POST">

        <div class="group">
            <label for="name" class="deutsch">Name</label>
            <label for="name" class="english">· Name</label><br />
            <input type="text" name="name" id="name" /> <br />
            <br />
        </div>

        <div class="group">
            <label for="affiliation" class="deutsch">Department/Firma</label>
            <label for="affiliation" class="english">· Affiliation</label><br />
            <input type="text" name="affiliation" id="affiliation" /> <br />   
            <br />
        </div>

        <div class="group">
            <label for="action" class="deutsch">Bitte halten Sie jetzt den Dongle an das Lesegerät.<br /></label>
            <label for="action" class="english">Please swipe your dongle now.</label><br />
            <input type="hidden" name="action" value="log-in">
            <input type="text" name="token" id="token" autocomplete="off"/> <br />
        </div>

        <div>
            <button id="btnSubmit" type="submit" class="next-button">Weiter<br /><i>Next</i></button>
        </div>  

    </form>
    

    <!-- retuen home button -->
    <a href="{{ url_for('index') }}" class="home-button" id="home-button">Abbrechen<br /><i>Cancel</i> </a>

</div>

    <!-- JS for automatic redirect after two minutes -->
    <script>    
        window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "/";

        }, 120000);

    </script>

{% endblock %}